* {
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: rgb(33, 30, 54);
    font-family: serif;
}
button:hover {
    cursor: pointer;
    background-color: rgb(109, 138, 188);
}
ul {
    list-style-type: none;
}
.container {
    min-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
h1 {
    color: white;
    font-size: 3rem;
    border-style: none none solid none;
    border-color: rgb(109, 138, 188);
}
.shoplist-form {
    margin: 40px 0px;
}
.shoplist-input {
    width: 250px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;

}

.add-button {
    background-color: white;
    color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
.shoplist-items {
    min-width: 350px;
}
.item {
    background-color: rgb(109, 138, 188);
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    font-size: 1.1rem;
}

.checkbox {
    margin-right: 10px;
}

.delete-button {
    float: right;
    background-color: rgb(33, 30, 54);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 2px 5px;
    margin-left: 10px;
    font-size: 1.1rem;
}

.checked {
    text-decoration: line-through;
}
footer {
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 20px;
}

.resetButton {
    background-color: white;
    color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
